@import "variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  font-family: $font-ubuntu;
  @media only screen and (min-width: $bp-mobile-s) {
    font-size: 50%;
  }

  @media only screen and (min-width: $bp-laptop) {
    font-size: 62.5%;
  }
}

.App {
  background-color: $color-white;
  display: grid;
  grid-template-rows: 100vh min-content;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
}
