@import "animations";
@import "variables";

.home {
  grid-column: full-start / full-end;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $color-primary;

  &__header {
    grid-column: 2/3;
    animation: moveInBottom 0.5s ease-out 0.75s;
    color: $color-white;
    &-char {
      display: inline-block;
      &:hover {
        animation: rubberBand 1s;
      }
    }
    @media only screen and (min-width: $bp-mobile-s) {
      font-size: 5rem;
    }
    @media only screen and (min-width: $bp-laptop) {
      font-size: 8rem;
    }
  }

  &__btn {
    margin-top: 2rem;
    text-decoration: none;
    grid-column: 2/3;
    background-color: $color-white;
    color: $color-primary;
    border-radius: 30px;
    padding: 1rem 4rem;
    cursor: pointer;
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
    animation-delay: 2s;

    &:hover {
      transform: scale(1.1);
    }

    @media only screen and (min-width: $bp-mobile-s) {
      font-size: 2rem;
    }
    @media only screen and (min-width: $bp-laptop) {
      font-size: 3rem;
    }
  }
}
