@import "variables";

.navBar {
  position: fixed;
  top: 0;
  height: 5rem;
  background-color: $color-navbar;
  width: 100%;
  display: flex;

  align-items: center;

  @media only screen and (min-width: $bp-mobile-s) {
    justify-content: center;
  }
  @media only screen and (min-width: $bp-laptop) {
    justify-content: flex-end;
  }
}

.search {
  @media only screen and (min-width: $bp-mobile-s) {
    margin-right: 0;
  }
  @media only screen and (min-width: $bp-laptop) {
    margin-right: 5rem;
  }

  input {
    border-radius: 5rem;
    height: 3rem;
    border: $color-white;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

::placeholder {
  color: $color-primary;
}
