// COLORS
$color-white: #fff;
$color-black: #000;
$color-primary: #007580;
$color-navbar: #fed049;

// FONT
$default-font-size: 1.6rem;
$font-ubuntu: "Ubuntu", sans-serif;

//Break points
$bp-laptop-l: 90em; // 1440px
$bp-laptop: 64em; // 1024px
$bp-tablet: 48em; // 768px;
$bp-mobile-l: 26.5em; // 425px;
$bp-mobile-m: 23.5em; // 375px;
$bp-mobile-s: 20em; // 320px;
